.movieListItem {
  padding: 5px 12px;
  border-bottom: 1px solid transparent;
  position: relative;
}

.link {
  color: #000;
  text-decoration: none;
  margin: 1px;

  &:hover,
  &:focus {
    color: orangered;
  }
}
